includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - tests
    level: 6
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics

